.main-content-header{
    margin: 1rem;    
}

.main-content-para{
   margin: 1rem; 
}

.badge-varient-container{
    margin: 1rem;
    width: 900px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;  
    text-align: center; 
}

.badge{
    position: relative;
}

.avatar{
    vertical-align: middle;    
    border: 1px solid black;
    border-radius: 50%;
}

.status{
    width: 16px;
    height: 16px;
    border: 2px solid black;
    border-radius: 50%; 
    position: absolute;  
    left: 80px;
    top: 75px;
}

.online{
    background-color: var(--success-color);
}

.offline{
    background-color: var(--danger-color);
}

.dnd{
    background-color: var(--warning-color);
}

.count-avatar{
    height: 50px;
    width: 100px;
}

.number{
    padding: 0.2rem;
    position: absolute;
    left: 59px;
    top: 2px;
    background-color: var(--primary-color); 
    border-radius: 100%; 
}