@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("./index.css");
@import url("./documentation.css");





@import url("./image/image.css");

:root{
    --primary-color: #3b82f6;
    --secondary-color: #93c5fd;
    --white: #ffffff; 
}

*{
    /* box-sizing: border-box; */
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}